aiohttp==3.6.2
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.4.4
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
gunicorn==20.0.4
idna==2.8
idna-ssl==1.1.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
logger==1.4
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
multidict==4.7.1
pycodestyle==2.5.0
pylint==2.4.4
PySocks==1.7.1
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
stem==1.8.0
torrequest==0.1.0
typed-ast==1.4.0
typing-extensions==3.7.4.1
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.11.2
yarl==1.4.2