<!DOCTYPE html>
<html>

<head>
  <title>Melon Api</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
</head>

<body>
  <h1> Melon Api </h1>
  <img src="{{ url_for('static', filename='melon.png')}}" width="150">

  <p> Endpoints </p>
  <div class="api">
    <a href="/api/v1/chart/live">
      <button class="link">
        <span>Live</span>
      </button>
    </a>

    <a href="/api/v1/chart/live">
      <button class="link">
        <span>Day</span>
      </button>
    </a>

    <a href="/api/v1/chart/week">
      <button class="link">
        <span>Week</span>
      </button>
    </a>

    <a href="/api/v1/chart/month">
      <button class="link">
        <span>Month</span>
      </button>
    </a>

  </div>

  <p>Convert the current top 100 songs on the Melon chart to Spotify playlist
  </p>
  <a href="/api/v1/spotify">
    <button class="learn-more">Sign in with Spotify</button>
  </a>
</body>

</html>