<!DOCTYPE html>
<html>

<head>
  <title>Melon Api</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
</head>

<body>
  <h1> Melon Api </h1>
  <img src="{{ url_for('static', filename='melon.png')}}" width="150">
  <div class="api">
    <button class="link">
      <span>Live</span>
    </button>
    <button class="link">
      <span>Rise</span>
    </button>
    <button class="link">
      <span>Day</span>
    </button>
    <button class="link">
      <span>Week</span>
    </button>
    <button class="link">
      <span>Month</span>
    </button>

  </div>

  <p>Convert top 100 Melon to Spotify
  </p>
  <button class="learn-more">Sign in with Spotify</button>
</body>

</html>